.container {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    background: #ffffff;
}

.todo__title {
    margin: 0 auto;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: #000000;
}

.todo__input {
    position: relative;
    margin-left: 60px
}

.todo__text {
    width: 225px;
    padding: 6px 34px 6px 10px;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    border: 2px solid #000000;
    border-radius: 4px;
    outline: none;
    background: #ffffff;
}

.todo__text:focus {
    border-color: #000000;
    background: #ffffff;
}
.todo__add {
    background-color: #fff;
    padding: 8px;
    margin-left: 20px;
    border: 1px solid;
    border-radius: 5px;
}

.todo__items {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    list-style-type: none;
}

.todo__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
}
  
.todo__item:not(:last-child) {
    margin-bottom: 20px;
}